<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>facemosque.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>A0B5D92FF7DAFDDFFF05AE69F67FA74B13789043</string>
				<key>dateExpires</key>
				<string>09.01.24</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>2.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0B5D92FF7DAFDDFFF05AE69F67FA74B13789043</string>
						<key>dateExpires</key>
						<string>09.01.24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7DT337H497</string>
						<key>name</key>
						<string>Ibrahim Al Naser</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0B5D92FF7DAFDDFFF05AE69F67FA74B13789043</string>
						<key>dateExpires</key>
						<string>09.01.24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7DT337H497</string>
						<key>name</key>
						<string>Ibrahim Al Naser</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0B5D92FF7DAFDDFFF05AE69F67FA74B13789043</string>
						<key>dateExpires</key>
						<string>09.01.24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7DT337H497</string>
						<key>name</key>
						<string>Ibrahim Al Naser</string>
					</dict>
					<key>versionNumber</key>
					<string>9.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0B5D92FF7DAFDDFFF05AE69F67FA74B13789043</string>
						<key>dateExpires</key>
						<string>09.01.24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7DT337H497</string>
						<key>name</key>
						<string>Ibrahim Al Naser</string>
					</dict>
					<key>versionNumber</key>
					<string>9.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0B5D92FF7DAFDDFFF05AE69F67FA74B13789043</string>
						<key>dateExpires</key>
						<string>09.01.24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7DT337H497</string>
						<key>name</key>
						<string>Ibrahim Al Naser</string>
					</dict>
					<key>versionNumber</key>
					<string>9.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0B5D92FF7DAFDDFFF05AE69F67FA74B13789043</string>
						<key>dateExpires</key>
						<string>09.01.24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7DT337H497</string>
						<key>name</key>
						<string>Ibrahim Al Naser</string>
					</dict>
					<key>versionNumber</key>
					<string>9.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0B5D92FF7DAFDDFFF05AE69F67FA74B13789043</string>
						<key>dateExpires</key>
						<string>09.01.24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7DT337H497</string>
						<key>name</key>
						<string>Ibrahim Al Naser</string>
					</dict>
					<key>versionNumber</key>
					<string>9.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0B5D92FF7DAFDDFFF05AE69F67FA74B13789043</string>
						<key>dateExpires</key>
						<string>09.01.24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7DT337H497</string>
						<key>name</key>
						<string>Ibrahim Al Naser</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0B5D92FF7DAFDDFFF05AE69F67FA74B13789043</string>
						<key>dateExpires</key>
						<string>09.01.24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7DT337H497</string>
						<key>name</key>
						<string>Ibrahim Al Naser</string>
					</dict>
					<key>versionNumber</key>
					<string>9.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0B5D92FF7DAFDDFFF05AE69F67FA74B13789043</string>
						<key>dateExpires</key>
						<string>09.01.24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7DT337H497</string>
						<key>name</key>
						<string>Ibrahim Al Naser</string>
					</dict>
					<key>versionNumber</key>
					<string>7.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0B5D92FF7DAFDDFFF05AE69F67FA74B13789043</string>
						<key>dateExpires</key>
						<string>09.01.24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MTBBarcodeScanner.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7DT337H497</string>
						<key>name</key>
						<string>Ibrahim Al Naser</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.11</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0B5D92FF7DAFDDFFF05AE69F67FA74B13789043</string>
						<key>dateExpires</key>
						<string>09.01.24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7DT337H497</string>
						<key>name</key>
						<string>Ibrahim Al Naser</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0B5D92FF7DAFDDFFF05AE69F67FA74B13789043</string>
						<key>dateExpires</key>
						<string>09.01.24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftProtobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7DT337H497</string>
						<key>name</key>
						<string>Ibrahim Al Naser</string>
					</dict>
					<key>versionNumber</key>
					<string>1.20.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0B5D92FF7DAFDDFFF05AE69F67FA74B13789043</string>
						<key>dateExpires</key>
						<string>09.01.24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>background_fetch.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7DT337H497</string>
						<key>name</key>
						<string>Ibrahim Al Naser</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0B5D92FF7DAFDDFFF05AE69F67FA74B13789043</string>
						<key>dateExpires</key>
						<string>09.01.24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>barcode_scan2.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7DT337H497</string>
						<key>name</key>
						<string>Ibrahim Al Naser</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0B5D92FF7DAFDDFFF05AE69F67FA74B13789043</string>
						<key>dateExpires</key>
						<string>09.01.24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>connectivity_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7DT337H497</string>
						<key>name</key>
						<string>Ibrahim Al Naser</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0B5D92FF7DAFDDFFF05AE69F67FA74B13789043</string>
						<key>dateExpires</key>
						<string>09.01.24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7DT337H497</string>
						<key>name</key>
						<string>Ibrahim Al Naser</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0B5D92FF7DAFDDFFF05AE69F67FA74B13789043</string>
						<key>dateExpires</key>
						<string>09.01.24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_native_timezone.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7DT337H497</string>
						<key>name</key>
						<string>Ibrahim Al Naser</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0B5D92FF7DAFDDFFF05AE69F67FA74B13789043</string>
						<key>dateExpires</key>
						<string>09.01.24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_statusbarcolor_ns.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7DT337H497</string>
						<key>name</key>
						<string>Ibrahim Al Naser</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0B5D92FF7DAFDDFFF05AE69F67FA74B13789043</string>
						<key>dateExpires</key>
						<string>09.01.24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>geocoding.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7DT337H497</string>
						<key>name</key>
						<string>Ibrahim Al Naser</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0B5D92FF7DAFDDFFF05AE69F67FA74B13789043</string>
						<key>dateExpires</key>
						<string>09.01.24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>map_launcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7DT337H497</string>
						<key>name</key>
						<string>Ibrahim Al Naser</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0B5D92FF7DAFDDFFF05AE69F67FA74B13789043</string>
						<key>dateExpires</key>
						<string>09.01.24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7DT337H497</string>
						<key>name</key>
						<string>Ibrahim Al Naser</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0B5D92FF7DAFDDFFF05AE69F67FA74B13789043</string>
						<key>dateExpires</key>
						<string>09.01.24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>network_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7DT337H497</string>
						<key>name</key>
						<string>Ibrahim Al Naser</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0B5D92FF7DAFDDFFF05AE69F67FA74B13789043</string>
						<key>dateExpires</key>
						<string>09.01.24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7DT337H497</string>
						<key>name</key>
						<string>Ibrahim Al Naser</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0B5D92FF7DAFDDFFF05AE69F67FA74B13789043</string>
						<key>dateExpires</key>
						<string>09.01.24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>share_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7DT337H497</string>
						<key>name</key>
						<string>Ibrahim Al Naser</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0B5D92FF7DAFDDFFF05AE69F67FA74B13789043</string>
						<key>dateExpires</key>
						<string>09.01.24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7DT337H497</string>
						<key>name</key>
						<string>Ibrahim Al Naser</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A0B5D92FF7DAFDDFFF05AE69F67FA74B13789043</string>
						<key>dateExpires</key>
						<string>09.01.24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>workmanager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7DT337H497</string>
						<key>name</key>
						<string>Ibrahim Al Naser</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7DT337H497.com.facemosque.com</string>
				<key>com.apple.developer.team-identifier</key>
				<string>7DT337H497</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d0f0e82e-16d5-466b-9f23-12f2344f76a5</string>
				<key>dateExpires</key>
				<string>15.01.24</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7DT337H497</string>
				<key>name</key>
				<string>Ibrahim Al Naser</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
